@font-face {
  font-family: 'Gilroy';
  font-weight: 900;
  src: url('fonts/Gilroy-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('fonts/Gilroy-SemiBold.otf') format("opentype");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url('fonts/Gilroy-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 100;
  src: url('fonts/Gilroy-Light.otf') format("opentype");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 900;
  src: url('fonts/PROXIMA NOVA BOLD.OTF') format("opentype");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 700;
  src: url('fonts/PROXIMA NOVA SEMIBOLD.OTF') format("opentype");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src: url('fonts/PROXIMA NOVA REGULAR.OTF') format("opentype");
}
